# Main Dagster Libraries
dagster==1.9.3
dagit==1.9.3
humanfriendly==9.2

# Additional Dagster Integrations
dagster-postgres==0.25.3
dagster-dbt==0.25.3
dagster-docker
dagster-mlflow==0.25.3
dagstermill==0.25.3

# Hive Integration
PyHive==0.6.5

# Data Processing Libraries
pandas==1.5.3
polars==0.20.25
pyspark==3.3.2
pyarrow==11.0.0
findspark==2.0.0
# Database and ORM
SQLAlchemy==1.4.46
pymysql==1.0.2

# Cryptography
cryptography==38.0.3

# Filesystem and S3
fsspec==2023.3.0
minio==7.1.13
s3fs==2023.3.0
boto3==1.24.20
aiobotocore==2.4.2
botocore==1.27.59

# Testing and Linting
pytest==7.2.2
pylint==2.17.1
pytest-cov==4.0.0
autopep8==2.0.2

# Google API
google-api-python-client==2.84.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0

# Streamlit and Extensions
streamlit
streamlit-pandas-profiling
streamlit-elements

# Machine Learning and Data Science
scikit-learn==1.0.2
mlflow==2.6.0
nltk
nbconvert

# Delta Lake
delta-spark==2.3.0

# Removed Libraries to Avoid Build Errors
# phik (requires g++)
# wordcloud (requires gcc)
dagster-aws==0.25.3
dagster-spark==0.25.3
papermill==2.3.3
ipython_genutils==0.2.0
connectorx==0.2.3
